@import "tailwindcss";

:root {
  --background: #24241e;
  --foreground: #f1f1d0;
  --accent: #ffe600;
  --accent-strong: #ffc400;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-accent-strong: var(--accent-strong);
  --font-oswald: "Oswald", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-oswald);
}
